*{
  margin: 0px;
  padding: 0px;
}

body{
  font-family: "Lato",Helvetica, Arial, Sans-serif;
  font-size: 16px;
  padding: 30px;
  font-weight: 400;
}

h3{
  padding-top: 30px;
  padding-bottom: 30px;
}

p{
  margin: 20px 0px;
}

button.add{
  background-color: rgb(0, 139, 28);
  color: white; 
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  border:none;
  box-shadow: 4px 4px 5px grey;
  margin:10px 0px;
}

button.remove{
  background-color: rgb(66, 66, 66);
  color: white; 
  padding: 3px 10px;
  border-radius: 5px;
  border: none;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 2px 2px 2px grey;
}

input[type='checkbox']{
  margin: 10px;
}

ol {
  margin-left: 20px;
}

.crossOut{
  text-decoration: line-through;
}
